<mat-form-field class="w-full" appearance="fill">
	<mat-label>User</mat-label>
	<input type="text"
	       placeholder="Pick one"
	       aria-label="User"
	       matInput
	       [ngModel]="value"
	       (input)="valueChange$.next(getValue($event))"
	       [matAutocomplete]="auto">
	<mat-autocomplete autoSelectActiveOption="false" (optionSelected)="optionSelected($event)" autoActiveFirstOption #auto="matAutocomplete">
		<mat-option *ngFor="let option of options" [value]="option">
			{{option}}
		</mat-option>
	</mat-autocomplete>
</mat-form-field>